body {
    background: #222;
    font-family: "Ubuntu",Helvetica,sans-serif;
}

header {
    padding: 10px;
}

article.post {
    color: #BBB;
    background: #1c1c1c;
    border: 1px solid #222;
    border-radius: 4px;
    box-shadow: 0 0 6px #000000;
    padding: 30px 30px 15px;
    margin-bottom: 20px;
}

article h1 {
    color: #FFF;
    text-align: center;
}

article h2 {
    color: #e3e3e3;
}

footer .grid_12 {
    background: #111;
    padding: 10px;
}