body {
    background: #222;
    font-family: "Ubuntu",Helvetica,sans-serif;
}

hr {
    margin:20px 0;
    padding:0;
    border:0;
    border-top:1px solid #333;
    border-bottom:1px solid #000;
    height:2px;
    width:100%;
    text-align:left;
    display:block;
}

.social-links a {
    text-decoration: none;
}

.social-links span {
    opacity: 0.75;
    margin: 0px 5px;
    padding: 0px;
    font-size: 32px !important;
    color: #FFF;
}

h2.genericon {
    font-size: 32px;
    color: #FFF;
}

header {
    padding: 10px;
}

article.post {
    color: #BBB;
}

article h1 {
    color: #FFF;
    text-align: center;
}

article h2 {
    color: #e3e3e3;
}

footer .grid_12 {
    background: #111;
    padding: 10px;
}

